body {
  font: 1.0em sans-serif;
}

.markdown_doc {
    width: 700px;
    margin: 30px 30px 30px 30px;
    /*border: 1px solid red;*/

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chunk line {
  fill: none;
  stroke: #bad2d3;
  shape-rendering: crispEdges;
}


table {
  color: #444;
  background: #eee;
  border: 1px solid #82c5ed;
  border-spacing: 0;
}

table tbody td{
  color: #848484;
  padding: 5px;
  border: 2px solid #82c5ed;
}

table thead th{
  color: #848484;
  padding: 5px;
  border: 2px solid #82c5ed;
}
