body {
  font: 11px sans-serif;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chunk line {
  fill: none;
  stroke: #bad2d3;
  shape-rendering: crispEdges;
}
